h2 {
    font-size: 24px;
    line-height: 24px;
    color: #555;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #777;
}

#md-full-name {
  padding-top: 40px;
}

#md-person-info {
  min-height: 280px;
}

#md-person-info > ul > li {
  list-style: none;
}

#profile-photo {
  float: left;
  margin: 0 40px 40px 0
}

.md-list, #md-bio {
  color: #555;
}

.md-list {
  margin-top: 20px;
  list-style: none;
  margin-right: 26px;
}

.md-list > li {
  margin-bottom: 20px;
}

#md-bio {
  margin: 30px 40px 0 60px;
  padding: 0 40px 20px 0;
}
