html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 300px;
}

/* Top Links */
#top-links,
#top-links a  {
	color: #eee;
	height: 26px;
	padding-top: 3.5px;
	background-color: #2D5B89;
}
#top-links a:hover,
#top-links a:active {
	color: #fff;
	text-decoration: none;
}
#top-links li {
	border-right: 1px solid #eee;
	padding-right: 10px;
}
#top-links li:last-child {
	border-right: none;
	padding-right: 0;
}

/* Header - http://www.cssmatic.com/box-shadow */
#header {
	padding-top: 9px;
	background-color: #fff;
	border-bottom: 1px solid #f5f5f5;
	-webkit-box-shadow: 0px 4px 12px -8px rgba(128,128,128,0.95);
	   -moz-box-shadow: 0px 4px 12px -8px rgba(128,128,128,0.95);
	        box-shadow: 0px 4px 12px -8px rgba(128,128,128,0.95);
	height: 76px;
	margin-bottom: 20px;
}


/* Navigation */
.navigation {
	margin-top: 1px;
}
.navigation>li>a {
	border: none;
	margin-left: 25px;
	font-size: 15px;
}
.navigation a:hover {
	background-color: #fff !important;
}
.navigation a:hover:after {
	width: 0;
	height: 0;
	position: absolute;
	content: "";
	display: block;
	margin-top: 9px;

	/* Adds an arrow effect exploiting the way that browsers join borders together */
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgb(51, 153, 243);

	/* Centers relative to parent */
	left: 50%;

	/* Compensates for width of border (arrow) */
	margin-left: -8px;
}

/* Footer */
#footer {
	padding-top: 10px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}
#footer ul,
#footer p {
	float: none;
	display: block;
	text-align: center;
}
#footer ul li {
	padding: 10px 12px;
	margin: 0;
	float: none;
	display: inline;
}
#footer-social {
	padding: 20px 0;
}
#footer-social p {
	font-size: 17px;
	font-weight: 600;
}
#footer-social ul li {
	padding-left: 30px;
	margin: 0;
	float: none;
	display: inline;
}

/* Back to Top */
#back-to-top {
	background-color: #333;
	background-image: -moz-linear-gradient(center top , rgba(34, 34, 34, 0.75) 0%, rgba(17, 17, 17, 0.9) 100%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	bottom: 0px;
	box-shadow: 0 1px 0 #333 inset;
	color: #ccc;
	display: none;
	font-size: 13px;
	line-height: 18px;
	padding: 15px 20px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 90px;
	z-index: 100;
	cursor: pointer;
}
#back-to-top:hover,
#back-to-top:active {
	text-decoration: none;
	color: #fff;
}

/* Responsive Adjustments */

/* Hide search for ultra-small displays */
@media screen and (max-width: 370px) {
	.navigation {
		display: none;
	}
}

/* Reduce footer spacing to squish nicer */
@media screen and (max-width: 540px) {
	#footer ul li {
		padding: 10px 8px;
	}
	#footer-social ul li {
		padding-left: 15px;
	}
}

/* Hide back to top button */
/* Hide top-links */
/* Add some buffering to labels */
@media all and (max-width: 767px) {
	#back-to-top {
		display: none !important;
	}
	.pad-label {
		padding-top: 10px;
	}
	.navigation li a,
	.navigation li a:hover {
		margin-top: 7px;
		color: black;
		border: 1px solid #aaa;
		border-radius: 4px;
	}
	.navigation a:hover:after {
		border: none;
	}
	#top-links {
		height: 10px;
	}
	#top-links li {
		display: none;
	}
}

/* Adjust header navigation to fit on site */
@media all and (max-width: 1000px) {
	.navigation>li>a {
		margin-left: -10px;
	}
}

/* !!! Style overrides to darken theme !!! */
#top-links,
#top-links a,
#footer,
#footer a {
	color: #eee;
	background-color: #454545;
}
#footer a {
	text-decoration: underline;
}
#footer a:hover,
#footer a:active {
	color: #fff;
}
#footer .pslh-container {
	background: url('/theme/img/pslh-line-white.png') center no-repeat;
}
#footer .pslh-logo,
#footer img#pslh {
	background: #454545;
}


/* !!! Penn State Lives Here !!! */
/*
#footer .pslh-container {
	background: url('/theme/img/pslh-line-blue.png') center no-repeat;
}
#footer .pslh-logo,
#footer img#pslh {
	width: 325px;
	background: #f5f5f5;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#footer img#pslh {
	width: 300px;
}
#footer p span {
	padding-right: 20px;
}
*/